<div class="card-body m-2">
    <h2>New Shipper</h2>
</div>
<form [formGroup]="form">
    <div class="form-group m-2">
        <label class="col-form-label">Company Name</label>
        <input formControlName="companyName" type="text" class="form-control">
        <small *ngIf="companyNameCtrl?.invalid && companyNameCtrl?.touched" class="text-danger">The company name is
            required</small>
    </div>
    <div class="form-group m-2">
        <label class="col-form-label">Phone</label>
        <input formControlName="phone" type="number" class="form-control">
        <small *ngIf="phoneCtrl?.invalid && phoneCtrl?.touched" class="text-danger">The phone is required</small>
    </div>
    <div class="m-2">
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary" (click)="onSubmit(form.value)" [routerLink]="['List']">Save</button>
        <button type="button" class="btn btn-danger" (click)="onClickLimpiar()">Clear</button>
    </div>
</form>