<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">Pracica Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">New Shipper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/List">List of Shippers</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container pt-4">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">
            <div class="card">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>