@model Lab.Practica.MVC.Models.PublicApiView
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Proyect</h1>
    <p class="lead">Lab Practice of MVC in .Net 2021</p>
    <p><a href="https://classroom.google.com/u/0/c/MzAzMzc1MjYxMTg4/a/MzMzNDY3NDk2MzQy/details?hl=es" class="btn btn-primary btn-lg">Instructions &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shippers</h2>
        <p>Create, Delete and Update Shippers Here.</p>
        <p><a class="btn btn-primary" href="/Shippers">Shippers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Create, Delete and Update Shippers Here.</p>
        <p><a class="btn btn-primary" href="/Territories">Territories &raquo;</a></p>
    </div> 
</div>